{% load i18n %}
<div class="paginator">
{% for letter in alphabet_string %}
{%  ifequal current_letter letter %}
 <span class="current-letter">
 <span class="current-page">{{letter}}</span>
{%   if show_first %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page=1" title="{% trans "First Page" %}">&laquo;</a>
{%   endif %}
{%   if has_previous %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page={{previous}}" title="{% trans "Previous Page" %}">&lt;</a>
{%   endif %}
{%   for pagenum in page_numbers %}
{%    ifequal pagenum page %}
{%     if pages != 0 and pages != 1 %}
 <span class="current-page">{{pagenum}}</span>
{%     endif %}
{%    else %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page={{pagenum}}" title="{% blocktrans %}Page {{pagenum}}{% endblocktrans %}">{{pagenum}}</a>
{%    endifequal %}
{%   endfor %}
{%   if has_next %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page={{next}}" title="{% trans "Next Page" %}">&gt;</a>
{%   endif %}
{%   if show_last %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page={{pages}}" title="{% trans "Last Page" %}">&raquo;</a>
{%   endif %}
{%   if pages != 0 and pages != 1 %}
 <span class="page-count">{{pages}} pages&nbsp;</span>
{%   endif %}
 </span>
{%  else %}
 <a href="?{%if extra_query%}{{extra_query}}&{%endif%}letter={{letter}}&page=1" title="{% blocktrans %}{{letter}}{% endblocktrans %}">{{letter}}</a>
{%   endifequal %}
{%  endfor %}
</div>
