{% extends "base.html" %}
{% load djblets_deco %}
{% block title %}{{datagrid.title}}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}djblets/css/datagrid.css" />
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery-ui-1.6rc1.packed.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/jquery.gravy.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}djblets/js/datagrid.js"></script>
{% endblock %}

{% block content %}
{% box %}
{{datagrid.render_listview}}
{% endbox %}
{% endblock %}
