{% load djblets_images i18n %}

<div class="djblets-c-integration-configs">
 <div class="djblets-c-config-forms-list-actions djblets-l-config-forms-container">
  <button class="djblets-c-config-forms-list-actions__action djblets-c-integration-configs__add btn">
   <span class="djblets-o-config-forms-icon-add"></span>
   {% trans "Add Integration" %}
  </button>
 </div>

 <div class="djblets-l-config-forms-container -is-recessed">
  <table class="djblets-c-config-forms-list -all-items-have-icons -all-items-have-actions"
         aria-live="polite" aria-busy="true">
   <tr class="djblets-c-config-forms-list__item">
    <td>
     <span class="djblets-o-spinner" aria-hidden="true"></span>
     {% trans "Loading integrations..." %}
    </td>
   </tr>
  </table>
 </div>
</div>
