{% load i18n %}

<div class="djblets-c-extensions">
 <div class="djblets-c-config-forms-list-actions
             djblets-l-config-forms-container">
{% if browse_extensions_url %}
  <a href="{{browse_extensions_url}}"
     class="djblets-c-config-forms-list-action ink-c-button"
     role="button">
   <span class="ink-c-button__icon ink-i-add"></span>
   <label class="ink-c-button__label">{% trans "More Extensions" %}</label>
  </a>
{% endif %}
  <button class="djblets-c-config-forms-list-action ink-c-button
                 djblets-c-extensions__reload"
          type="button">
   <span class="ink-c-button__icon ink-i-refresh"></span>
   <label class="ink-c-button__label">{% trans "Reload Extensions" %}</label>
  </button>
 </div>

 <div class="djblets-l-config-forms-container -is-recessed">
  <table class="djblets-c-config-forms-list -all-items-have-actions"
         aria-live="polite" aria-busy="true">
   <tr class="djblets-c-config-forms-list__item">
    <td>
     <span class="ink-c-spinner" aria-hidden="true"></span>
     {% trans "Loading extensions..." %}
    </td>
   </tr>
  </table>
 </div>
</div>
