{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}

{% block title %}Manage Extensions {{block.super}}{% endblock %}
{% block extrahead %}
<style type="text/css">
</style>
{% endblock %}

{% block content %}
<h1>Manage Extensions</h1>

<div id="content-main">

<div class="module" id="changelist">
 <table>
  <thead>
   <tr>
    <th>Name</th>
    <th>Version</th>
    <th>Author</th>
    <th>Summary</th>
	<th>Actions</th>
   </tr>
  </thead>
  <tbody>
{% for extension in extensions %}
   <tr class="{% cycle row1,row2 %}">
    <td>{{extension.info.name}}</td>
    <td>{{extension.info.version}}</td>
    <td>{{extension.info.author}}</td>
    <td>{{extension.info.summary}}</td>
	<td class="actions">
     <ul>
{% if extension.info.enabled %}
	  <li><a href="{% url disable_extension extension.id %}" class="disablelink">Disable</a></li>
{% else %}
	  <li><a href="{% url enable_extension extension.id %}" class="enablelink">Enable</a></li>
{% endif %}
{% if extension.info.enabled and extension.is_configurable %}
      <li><a href="{{extension.id}}/config/" class="changelink">Configure</a></li>
{% endif %}
     </ul>
	</td>
   </tr>
{% endfor %}
  </tbody>
 </table>
 <p class="paginator">
  {{extensions|length}} registered extensions
 </p>
</div>
</div>
{% endblock %}
