{% load djblets_js %}

{% for extension in extension_manager.get_enabled_extensions %}
{%  if extension.js_files %}
{%   for js_file in extension.js_files %}
<script src="{{MEDIA_URL}}ext/{{extension.info.package_name}}/{{js_file}}"></script>
{%   endfor %}
{%   if extension.js_model_class %}
<script>
    new {{extension.js_model_class}}({
{%    for key, value in extension.get_js_model_data.items %}
        {{key|json_dumps}}: {{value|json_dumps}},
{%    endfor %}
        id: '{{extension.id}}',
        name: {{extension.info.name|json_dumps}},
        settings: {{extension.settings|json_dumps}}
    });
</script>
{%   endif %}
{%  endif %}
{% endfor %}
